*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    border: solid; 
    display: flex;
    padding: 1%;
    font-size: 1rem;
}

nav>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

nav ul li{
    margin:0 2%;
}

.flex-end{
    justify-content: flex-end;
}

.button-blue{
    background-color: #0061ff;
    color: white;
    padding: .5rem;
}

nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.container-large{
    background-color: #b4d0e7;
    height: 600px;
    border: 10px solid;
}

.title{
    border: 10px purple solid;
    background-color: magenta;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    margin-top: 80px;
}

.upper-text{
    border: 5px solid greenyellow;
    background-color: green;
    height: 360px;
    width: 25%;
    
}

.jumbotron{
    border: 5px solid red;
    background-color: darkred;
    height: 400px;
    width: 45%
}
.flex{
    display: flex;
    justify-content: center;
}

.container{
    width: 70%;
    
    background-color: rgb(247, 203, 203);
    margin: 0 auto;
    
}

.title2{
    height: 150px;
    border: 3px solid black;
    
}

.business-plane{
    display: flex;
    justify-content: space-between;
}

.column{
    height: 500px;
    border: 3px solid black;
    width: calc((100% / 3) - 20px);
    
}
.margin{
    margin-top: 50px;
}



.team{
    height: 300px;
    border: 3px solid red;
    
}

.big-image{
    display: flex;
    height: 300px;
    border: blue 3px solid;
    width: 100%;
    
}

.text-partner{
    border: black 3px solid;
    width: 40%;
    height: 200px;
}

.image{
    width: 60%;
    border: red 3px solid;
}

.dropbox-bs{
    height: 100px;
    border: solid;
}

.operations{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    border: purple solid 2px;
    

}

.pillar{
    width: calc((100% / 3) - 15px);
    border: 3px solid black;
    margin-bottom: 20px;
}

.dropbox-clients{
    height: 100px;
    border: solid;
}

.brand{
    display: flex;
    height: 420px;
    border:solid black;
    width: 100%;
}

.big-square{
    display: flex;
    width: calc(100% / 3);
    border: solid;
    flex-wrap: wrap;
    
}

.small-square{
    width: 50%;
    height: 210px;
    border: solid;
}

.free-trial{
    height: 210px;
    border: 10px solid;
}


