*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    border: solid; 
    display: flex;
    padding: 1%;
    font-size: 1rem;
}

nav>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

nav ul li{
    margin:0 2%;
}

.flex-end{
    justify-content: flex-end;
}

.button-blue{
    background-color: #0061ff;
    color: white;
    padding: .5rem;
}

nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.container-large{
    background-color: #b4d0e7;
    height: 600px;
    border: 10px solid;
}

.title{
    border: 10px purple solid;
    background-color: magenta;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    margin-top: 80px;
}

.upper-text{
    border: 5px solid greenyellow;
    background-color: green;
    height: 360px;
    width: 25%;
    
}

.jumbotron{
    border: 5px solid red;
    background-color: darkred;
    height: 400px;
    width: 45%
}
.flex{
    display: flex;
    justify-content: center;
}

.container{
    width: 70%;
    height: 5000px;
    border: lime solid 5px ;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
}

.title2{
    height: 150px;
    border: 3px solid black;
    margin-top: 50px;
}

.column{
    height: 500px;
    border: 3px solid black;
    width: 100%;
    margin-top: 50px;
}
.margin{
    margin: 50px 10px;
}

.business-plane{
    display: flex;
    justify-content: space-between;
}

.team{
    height: 300px;
    border: 3px solid red;
    margin-top: 20px;
}

