*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

nav{
    
    display: flex;
    padding: 1%;
    font-size: 1rem;
}

nav>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

nav ul li{
    margin:0 2%;
}

.flex-end{
    justify-content: flex-end;
}

.button-blue{
    background-color: #0061ff;
    color: white;
    padding: .5rem;
}
.button-white{
    background-color: white;
    color: black;
    padding: .5rem;
    border: 2px solid black;
}



nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.container-large{
    background-color: #b4d0e7;
    padding-top: 3rem;
    
    

}

.title{
   
    margin: 0 auto;
    width: 70%;
    font-size: 4rem;
    font-weight: 800;
    

}
.position-flex{
    position: relative;
    top: 60px;

    display: flex;
    justify-content: center;
}


.upper-text{
    width: 25%;
}

.upper-text>p{
    margin-bottom: 2rem;
    font-size: 1rem;
}

.upper-text>i{
    
    font-size: 4rem;
    font-weight: bold;
}

span{
    display: inline-block;
    margin-bottom: 1rem;
}
.upper-text>p:last-child{
    margin-top: 2rem;

}

.jumbotron{
    
    height: 400px;
    width:45%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}
.flex{
    display: flex;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.title2{
    margin-bottom: 30px;
}


h2{
    font-size: 2.1rem;
}

.business-plane{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.column{

    border: 1px solid gray;
    width: calc((100% / 3) - 20px);
  
}

.column-content{
    padding:1rem;
}

.text-center{
    text-align: center;
    padding: .5rem;
}

.column ul{
    list-style-type: none;
    
}

.column li{
    margin: 1rem 0;
}

.margin{
    margin-top: 7rem;
}

input[type=radio]{
    color: red;
}

.hr-small{
    width: 20%;
    margin: 1rem 0;
}

.team{
    height: 300px;
    border: 1px solid gray;
    margin-top: 2rem;
    
}

.team>section{
    display: flex;
    justify-content: space-between; 
     
}
.team .left-section{
    flex-basis: 70%;
    padding: 2rem;
}
.team .right-section{
    flex-basis:30%;
}

.big-image{
    display: flex;
    
    width: 100%;
    height: 500px;
    
}

.text-partner{
    
    width: 40%;
    padding: 2rem;
    
}

.text-partner p{
    margin: 1rem 0 1.8rem 0;
}

.image{
    width: 60%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/partner.png);
}


.pillar img{
   width: 100%;
}

.operations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    

}

.pillar{
    width: calc((100% / 3) - 15px);
    
    margin-bottom: 20px;
}

.dropbox-clients{
    height: 100px;
    
}

.brand{
    display: flex;
    
    
    width: 100%;
}

.big-square{
    display: flex;
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;  
}

.big-square{
    background-color: whitesmoke;
    
} 

.central-square{
    padding: 2rem;
}

.central-square img{
    width: 55%;
}

.central-square hr{
    width: 25%;
    margin-top: 2rem;
}

.central-square p {
    margin-top: 2rem;
    font-size: .9rem;
}
.small-square{
    width: 50%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-square>img{
    width: 50%;
    filter: invert(1);

}
 .bg-green{
    background-color:#a2d39b;
 }

 .bg-purple{
    background-color:#61082b ;
 }

.bg-lightblue{
    background-color: #0093ce;
}

.bg-red{
    background-color: #ff1c1c;
}

.bg-darkred{
    background-color: #d5001f;
}

.bg-heavenly{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}

.free-trial{
    background-color: #b4d0e7;
    margin: 0 auto;
    
}
    .free-trial h2{
        flex-basis: 50%;
}

.content-trial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 4rem;

}



.faq-title{
    height: calc(100% / 3);
    border-bottom: solid 1px gray;
    padding-bottom: 2rem;
}

.questions{
    height: calc((200% / 3) / 3);
    border-bottom: solid 1px gray;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding:2rem 0;
}

footer{
    background-color: black; 
    height: 500px; 
    padding-top:50px ;   
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 400px;
    margin: 0 auto;
}
.credits{
    width: calc(100% / 5 - 25px);
    
    
}

footer li {
    list-style-type: none;
    margin-bottom: 1rem;
    font-size: .9rem;
}

footer li a {
    text-decoration: none;
    color: white;
}

.credits h3{
margin-bottom: 2rem;
color: white;
}






